p {
  background-color: #C4CECD
}
/* image boarder */
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/* navbar */
.navbar {
  overflow: hidden;
  background-color: #C4CECD;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4%;
  
}
/* link design in navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* hovering over navbar */
.navbar a:hover {
  background: #ddd;
  color: black;
}
